@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Raleway:wght@300&display=swap');
style>

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #332F2E;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    letter-spacing: 2px;
    

}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #f5f9ad;
}

h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f5f9ad;
    
}

#logo {
    padding-left: 1rem;

}

/* Header */
header {
    background-color: #FF8CA7;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px #f5f9ad;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
}


header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    padding-left: 1rem;

}

#menu > li {
    margin-bottom: 1em;

}

.active {
    border-bottom: 2.5px none #332F2E;

}

#menu-link {
    text-align: center;
    padding-bottom: 50px;
    width: auto;
    
}

.menulink {
    padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #f5f9ad;
        margin: 10px;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Bricolage Grotesque', sans-serif;
}



/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f5f9ad;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #f5f9ad;
    display: none;
    top: 100%;
    

}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 1rem;
}

#pancake-one {
    height: 400px;
    width: 100%;
    background: url("../images/pancake2.jpg") no-repeat center center/cover;
    position: relative;
    background-attachment: fixed;
}

#pancake-text > h2, #pancake-text>h3 {
    color: #f5f9ad;
    text-align: center;

}

#pancake-text {
    font-size: 100%;
    position: absolute;
    width: 100%;
    min-height: 100px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);

}

#about {
    width: 100%;
    margin: 20px auto;
    
}

#about h2 {
font-size: 150%;
text-align: center;
margin-bottom: 30px;
color: #332F2E;
}

#about-us p {
    text-align: center;
    line-height: 25px;
    padding: 0 35px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    
}

/* Main */
main {
    background-color: #B8EEFC;
    flex: 1 0 auto;
    margin-top: 120px;
    flex-direction: column;
    display: flex;
    
}

/* Menu */
#pancake2 {
    background: url("../images/pancake4.jpg"); 
    background-size: cover;
    background-position: 50%;
    flex-grow: 1; 
    padding: 20px 10% 20px 10%;
    
    
}

.food-items {
    padding-left: 20px;
    padding-right: 20px;
}



#pancake-div {
    background-color: rgba(184, 232, 232, .7);
    position: relative;
    font-size: 100px;
    background-color: rgba(47, 76, 81, 0.83);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

#pancake-menu h2 {
     font-size: 50px;
    text-align: center;
    position: relative;
    text-decoration: underline;
   
}

#pancake2 div {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    
}

#pancake-div h2 {
    text-align: center;
    position: relative;
    font-size: 25px;
}


#pancake-div li {
    text-align: center;
    font-size: 15px;
    list-style-type: none;
    color: #f5f9ad;
}

#pancakemenu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#coffee {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#lemonade {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
}


/* Form */

#book-table {
    
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-weight: bolder;
}

#book-a-table {
    color: #332F2E;
    padding: 45px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 100px;
}

#bookh2 {
    margin-bottom: 15px;
    text-align: center;
    color: #332F2E;
    

}

.text-input {
    border-radius: 5px;
    color: #332F2E;
    width: 80%;
    height: 28px;
    margin: 10px 0 20px 0;
    padding: 0;
    border-style: none;
    padding-left: 10px;

}
#date {
    border-radius: 5px;
    font-size: 18px;
    color: #332F2E;
    margin: 10px 0px 20px;
    border-style: none;
    padding-left: 10px;
    
}

#number {
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 0px 20px;
    border-style: none;
    padding-left: 10px;
    
}

.button:hover {
    color: #FF8CA7;
    
    
}

.button {
    border-radius: 5px;
    font-size: 18px;
    color: #332F2E;
    margin: 10px 0px 20px;
    border-style: none;
    padding-left: 10px;
}

#find {
    text-align: center;
    font-size: 25px;
    padding: 60px 60px 30px;
    
}

/* footer */
footer {
    background-color: #FF8CA7;
    }

#map {
    width: 100%;
    height: 400px;
}


#social-networks {
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    font-size: 25px;
}




/* Media query: tablets and larger (768 and up) */
@media screen and (min-width :768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
        background-color: #FF8CA7;
        font-size: 18px;
    }
    
    #menu {
        display: flex;
        color:#f5f9ad;
    }
    #menu > li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 50px;
        padding-left: 2rem;
    }

    main {
        margin-top: 165px;
    }

    #pancake2 {
        background-position: center;
        position: relative;
    }

    #pancakemenu {
     display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
        }

    #lemonade {
    display: block;
    margin-left: auto;
     margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    }

    #coffee {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    }

    #pancake-div li {
        text-align: center;
        font-size: 25px;
        list-style-type: none;
     }

    #pancake-div h2 {
        text-align: center;
        position: relative;
        font-size: 35px;
     }



}
 /* Media query: laptops and scrreen from 992px and larger */
 @media screen and (min-width: 992px) {
    
 }