@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Raleway:wght@300&display=swap');
style>

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f5f9ad;
    font-family: 'Raleway', sans-serif;

}

/* Header */
header {
    background-color: #FF8CA7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px #f5f9ad;


}

header a {
    text-decoration: dashed;
    color: inherit;
}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #f5f9ad
}

/* Main */
main {
    background-color: #B8EEFC;
    flex: 1 0 auto;
    

 }
/* footer */
 footer {
    background-color: #FF8CA7;

 }
